<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>669538841390-qahfa70540u3etfk2fes1ckgrpdfoivs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669538841390-qahfa70540u3etfk2fes1ckgrpdfoivs</string>
	<key>API_KEY</key>
	<string>AIzaSyByvrhlr2L0XzeVCSt4IQ_wl5n1sjVtym4</string>
	<key>GCM_SENDER_ID</key>
	<string>669538841390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team8.Locky</string>
	<key>PROJECT_ID</key>
	<string>proyectomoviles-64a71</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectomoviles-64a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669538841390:ios:c3826dafc5b7d5dd</string>
	<key>DATABASE_URL</key>
	<string>https://proyectomoviles-64a71.firebaseio.com</string>
</dict>
</plist>